.header {
    color: white;
    position: sticky;
    border-bottom: 2px solid white;
}

.headerTitle {
    width: 33%;
    display: inline-block;
    text-align: center;
    height: 50px;
    vertical-align: middle;
}

.headerNav {
    position: relative;
    width: 66%;
    margin: 0%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.link {
    margin: auto 2%;
    padding: 10px;
}

.button {
    background-color: var(--main-ac-color);
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 12px;
    color: white;
}

@media (max-width: 600px) {
    .header {
        border: none;
    }
    
    .headerTitle {
        display: block;
        width: 100%;
        border-bottom: 2px solid white;
    }

    .headerNav {
        width: 100%;
        display: block;
    }
}